/* banner */
#banner{
    height: 600px;
    background-image: url('/gambar/home/bg_home.png');
    background-size: cover;
}

.banner-content{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* button */
#btn-new{
    border-radius: 3em;
    display: flex;
    font-size: 15px;
    line-height: 0.5;
    padding: 18px;
    text-align: center;
    background-color: #09458F;
    color: #FFFFFF;
}

/* carousel */
.logo{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30px;
    width: 60px;
}
