/* body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

*/

.h1{
    position: static;
    font-size: 16px;
    color: black;
}
.html, .bg-image {
    /* position: absolute; */
    width: 100%;
    background-size: cover;
    min-height: 1080px;
    background: url("/gambar/bclogin.png");
	/* background-repeat: no-repeat; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 38px 0px;
    position: absolute;
    width: 590px;
    height: 864px;
    left: 665px;
    top: 108px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;

}
/* .logo1{
    position: static;
    width: 396px;
    height: 140px;
    background-size: cover;
    left: 97px;
    top: 94px;
    background: url("/gambar/logo1.png")
} */

.h3{
    position: static;
    font-size: 40px;
    line-height: 54px;
    color: blue;
}
.username{
    position: static;
    width: 418px;
    height: 86px;
    left: 0px;
    top: 10px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}
.password{
    /* Group 4 */
    position: static;
    width: 418px;
    height: 86px;
    left: 0px;
    top: 118px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}
.bungkuslogin{
     /* Container login */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 418px;
    height: 402px;
    left: 86px;
    top: 368px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 40px 0px;
}

.logo1{
    position: static;
    width: 396px;
    height: 140px;
    left: 97px;
    top: 94px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 40px 0px;
}
.btn-primary{
    position: static;
    width: 418px;
    height: 50px;
    left: 0px;
    top: 236px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}
.btn-link{
     /* Forgot Password? */
    position: static;
    width: 418px;
    left: calc(50% - 418px/2);
    top: 94.28%;
    bottom: 0%;
    /* Body/Normal/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    letter-spacing: -0.01em;
    /* State/Info Blue */
    color: #298CFF;
    /* Inside auto layout */
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}
.form-group{
    position: static;
    width: 418px;
    height: 24px;
    left: 0px;
    top: 230px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}

