.h1{
    position: static;
    font-size: 16px;
    color: black;
}

.html, .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/gambar/bclogin.png");
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-login{
    display: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 38px 0px;
    width: 380px ;
    height: 580px ;
    margin-top: 70px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;  
}

.logo1{
    position: static;
    width: 300px ;
    height: 120px;
    left: 97px;
    top: 10px;
    margin-top: 100px;
    background: url("/gambar/logo2.png")
}

.h3{
    position: static;
    margin-left: 28px;
    margin-top: 0px;
    font-size: 30px;
    line-height: 54px;
    color: blue;
    
}

.username{
    position: static;
    width: 290px;
    height: 86px;
    margin-left: 5px;
    top: 10px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.password{
    /* Group 4 */
    position: static;
    height: 86px;
    width: 290px;
    margin-left: 5px;
    margin-top: 15px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.bungkuslogin{
     /* Container login */
    /* Auto layout */

    display: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    width: 300px ;
    height: 500px ;
    margin-top: -300px;
    top: 10px;

    position: static;
    left: 86px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.btn-primary{
    position: static;
    height: 50px;
    width: 290px;
    margin-left: 5px;
    margin-top: 15px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.btn-link{
     /* Forgot Password? */
    position: static;
    left: calc(50% - 418px/2);
    width: 290px;
    margin-left: 5px;
    margin-top: 5px;
    bottom: 0%;
    /* Body/Normal/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    letter-spacing: -0.01em;
    /* State/Info Blue */
    color: #298CFF;
    /* Inside auto layout */
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.form-group{
    position: static;
    width: 290px;
    height: 24px;
    left: 0px;
    top: 230px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    font-size: 14px;

}

.form-group-label{
    font-size: 12px;
}

.form-check{
    position: static;
    width: 290px;
    top: 5px;
    margin-left: 16px;
    margin-top: 0px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
   
}

